:root { /*.root afecta a la totalidad del documento. Aplicamos este comando para definir atributos personalizados*/
  --blanco:#ffffff;
  --oscuro:#212121;
  --primario:#ffc107;
  --secundario:#0097a7;
  --gris:#757575;
}

html {
  font-size: 62.5%; /*esta medida nos permite saber que 1rem = 10px, asi podemos calcular cuanto ocupa un elemento en el siteweb con esta equivalencia*/
  box-sizing: border-box;
  }

  *,*:before, *:after {
    box-sizing: inherit;
  }


body {
  font-size: 1.6rem;/*16px*/
  font-family:"Alfa Slab One", Arial, Helvetica, sans-serif;
}

h1{
 
  font-size: 3.8rem; /*38px*/
  color: var(--secundario);
}
h2{
   
  font-size: 2.8rem; /*28px*/
  color: var(--secundario);
}
h3{
  
  font-size: 1.8rem; /*18px*/
  color: var(--secundario);
}
h1,h2,h3{
  text-align: center;
}




.titulo span {
  font-size: 2rem;/*20px*/
  color: var(--primario);
}

.navegacion-principal {
  background-color: var(--primario);
  flex-direction: column;
  display: flex; /*activamos Flexbox para la organizacion del navegador*/
 
}
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;/*aplicamos espaciado entre elementos del navegador*/
  
  }
}
.navegacion-principal a{
  display: block;
  text-align: center;
  color: var(--blanco);
  text-decoration: none;/*elimina el subrayado de los enlaces*/  
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;/*10px*/
}
.nav-bg {
   background-color:var(--secundario);
}

.contenedor {
  max-width: 60rem;/*600px*/
  margin: 0 auto;/*al poner dos digitos, el sistema detecta que el primero ocupa el vector vertical (up & down) y el segundo el vector horizontal (left & right)*/
 }
.navegacion-principal a:hover{
  background-color: var(--secundario);
  color: var(--oscuro);
}
/*Media Query. Aplica cambios en el diseño para hacerlo responsive. 
480px = equivalencia a pantalla de movil
768px = equivalencia a pantalla de tablet
1140px = equivalencia a pantalla PC
1440px = standard en frameworks */

/*@media (min-width: 480px) {
  body {
    background-color: chocolate;
  }
}
@media (min-width: 768px) {
  body {
    background-color: rgb(235, 8, 121);
  }
}*/

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  /*padding: 20px;*/
  position: relative; /*en el atributo PADRE, se debe colocar siempre posicion Relativa, asi el hijo puede colocarse en posicion absoluta*/
}
.contenido-hero {
  position: absolute;
 /*background-color: rgba(0, 0, 0,.6);*//*metodo anterior*/
 background-color: rgb(0 0 0 /60%);/*metodo actual*/
  width: 100%;
  height: 100%;
  /*aplicamos flexbox*/
  display: flex;
  flex-direction: column;
  align-items: center; /*ordena de forma vertical*/
  justify-content: center; /*ordena de forma horizontal*/
 
}
.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}
.program {
  background-image: url(../img/adolescente-programando.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  padding: 20px;
}

.ubicacion {
  display: flex;
  align-items: flex-end
}
