:root {
  --blanco:#ffffff;
  --oscuro:#212121;
  --primario:#ffc107;
  --secundario:#0097a7;
  --gris:#757575;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;/*1rem = 10px*/
  font-family:"Alfa Slab One", Arial, Helvetica, sans-serif;
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
  color: var(--secundario);
  }


.titulo span {
  font-size: 2rem;
  color: var(--primario);
}

.navegacion-principal {
  background-color: var(--primario);
  padding: 1rem;
}
.navegacion-principal a{
  color: var(--blanco);
  text-decoration: none;
  
}

.contenedor {
  width: 60rem;
  margin: 0 auto;
 }

.nav-bg {
   background-color:var(--secundario);
}

p{
 
}